body {
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  padding: 200px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

input[type="text"] {
  border-radius: 24px;
  padding: 5px; /* Optional: Add padding for better aesthetics */
  border: 1px solid #dfe1e5;
  width: auto;
  min-width: 600px;
  min-height: 30px;
  font-size: 14px;
  font-family: Roboto, arial, sans-serif;
  color: #202124;
}
input[type="submit"] {
  border-radius: 5px; /* Adjust the value to change the roundness */
  padding: 4px; /* Optional: Add padding for better aesthetics */
  background-color: #f8f9fa;
  cursor: pointer;
  border: 1px solid #f8f9fa;
  font-family: Roboto, arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 41px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.submitButtons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.links {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 100px;
}

a {
  padding: 10px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-size: 13px;
}

.google-logo {
  display: flex;
  align-items: center;
}

.g {
  color: #4285f4; /* Blue */
  font-weight: bold;
}

.o1,
.e {
  color: #ea4335; /* Red */
  font-weight: bold;
}

.o2 {
  transform: scaleX(-1); /* Flip the second 'o' horizontally */
}

.g,
.o1,
.o2,
.g,
.l,
.e {
  font-family: "Arial", sans-serif;
  font-size: 5em;
  margin: 0 2px;
}

.l {
  color: #34a853; /* Green */
  font-weight: bold;
}

.o2 {
  color: #fbbc05; /* Yellow */
  font-weight: bold;
}
